h1 {
  font-family: degular, sans-serif;
  font-size: 50px;
  color: #FF00F5
}
ul {
  font-family: degular, sans-serif;
  list-style: none;
  font-size: 30px;
  padding: 10px;
}
a {
  text-decoration: none;
  color: blue;
  font-family: degular, sans-serif;
}
a:hover {
  color: #FF00F5;
}
p {
  font-family: degular, sans-serif;
  font-size: 22px;
}
.home {
  text-align: center;
  margin: auto;
  margin-top: 150px;
  width: 400px;
  background: #D4FF21;
  border-radius: 25px;
  border: 6px solid chartreuse;
}
.about {
  margin: auto;
  margin-top: 150px;
  width: 400px;
  background: #D4FF21;
  border-radius: 25px;
  border: 6px solid chartreuse;
}
.back {
  margin: 20px;
  background: #D4FF21;
  border-radius: 25px;
  display: inline-flex;
  padding: 10px;
  border: 2px solid chartreuse;
}
.back:hover {
  background: blue;
  border: 2px solid #FF00F5;
