h1 {
  font-family: degular, sans-serif;
  font-size: 50px;
}
ul {
  font-family: degular, sans-serif;
  list-style: none;
  font-size: 30px;
  padding: 10px;
}
a {
  text-decoration: none;
  color: blue;
  font-family: degular, sans-serif;
}
a:hover {
  color: #FF00F5;
}
p {
  font-family: degular, sans-serif;
  font-size: 20px;
}
.home {
  text-align: center;
  margin: auto;
  margin-top: 150px;
  width: 500px;
  background:chartreuse;
  border-radius: 25px;
  border: 2px dashed black;
  padding-bottom: 40px;
}
.about {
  margin: auto;
  margin-top: 150px;
  width: 500px;
  height: 300px;
  background:chartreuse;
  border-radius: 25px;
  border: 2px dashed black;
}
