* {
  box-sizing: border-box;
}

body {
  margin:0;
}

.main-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: rgba(254,77,77,1);
}

.top-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sky1 {
  background: rgb(255, 188, 87);
  height: 100%;
  width: 100%;
}

.sky2 {
  background: rgb(255, 178, 87);
  height: 100%;
  width: 100%;
}

.sky3 {
  background: rgb(255, 162, 87);
  height: 100%;
  width: 100%;
}

.sky4 {
  background: rgb(255, 147, 87);
  height: 100%;
  width: 100%;
}

.sky5 {
  background: rgb(251, 132, 82);
  height: 100%;
  width: 100%;
}

.sky6 {
  background: rgb(255, 112, 87);
  height: 100%;
  width: 100%;
}

.sky7 {
  background: rgb(255, 97, 87);
  height: 100%;
  width: 100%;
}

.bottom-container {
  background: rgb(172,44,108);
  background: linear-gradient(0deg, rgba(172,44,108,1) 24%, rgba(254,77,77,1) 100%);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

.building {
  background: rgb(83,83,83);
  background: linear-gradient(90deg, rgba(83,83,83,1) 0%, rgba(38,38,38,1) 100%);
  width: 18%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.one {
  height: 60%;
}

.two {
  height: 95%;
}

.three {
  height: 75%;
}

.four {
  height: 40%;
}

.five {
  height: 60%;
}

.column {
  width: 15%;
  height: 100%;
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.light1 {
  background: rgb(194,246,255);
  background: linear-gradient(90deg, rgba(194,246,255,1) 0%, rgba(57,212,255,1) 100%);
  width: 100%;
  height: 10%;
}

.light2 {
  background: rgb(194,246,255);
  background: linear-gradient(90deg, rgba(194,246,255,1) 0%, rgba(57,212,255,1) 100%);
  width: 100%;
  height: 7%;
}

.light3 {
  background: rgb(194,246,255);
  background: linear-gradient(90deg, rgba(194,246,255,1) 0%, rgba(57,212,255,1) 100%);
  width: 100%;
  height: 9%;
}

.light4 {
  background: rgb(194,246,255);
  background: linear-gradient(90deg, rgba(194,246,255,1) 0%, rgba(57,212,255,1) 100%);
  width: 100%;
  height: 17%;
}

.light5 {
  background: rgb(194,246,255);
  background: linear-gradient(90deg, rgba(194,246,255,1) 0%, rgba(57,212,255,1) 100%);
  width: 100%;
  height: 10%;
}
