* {
  box-sizing: border-box;
}

body {
  margin: 3%;
}

#cone {
  position: relative;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%,-50%);
}

#scoop1 {
  position: relative;
  left: -5vw;
  top: 5vh;
  transform: translate(-50%,-50%);
}

#scoop2 {
  position: relative;
  left: -5vw;
  top: 30vh;
  transform: translate(-50%,-50%);
}

#scoop3 {
  position: relative;
  left: -5vw;
  top: 55vh;
  transform: translate(-50%,-50%);
}

#scoop4 {
  position: relative;
  left: -5vw;
  top: 80vh;
  transform: translate(-50%,-50%);
}

#topping1 {

}

#topping2 {

}

#sprinkle1 {

}

#sprinkle2 {

}

#cherry {

}
