@font-face {
    font-family: 'amorisregular';
    src: url('amoris-regular-webfont.woff2') format('woff2'),
         url('amoris-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  margin:20px;
  background: rgb(255,0,222);
  background: linear-gradient(90deg, rgba(255,0,222,1) 0%, rgba(0,255,191,1) 100%);
  font-family: 'Zilla Slab', serif;
}

h1 {
  font-family: 'amorisregular';
}

p {
  filter: invert(100%);
  transform: skewx(20deg) skewy(20deg);
  webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0);
}
