body {
  background: #ffa4da;
}

h1 {
  font-family: degular, helvetica, sans-serif;
  font-size: 100px;
  margin: 20px;
  padding: 10px;
  padding-bottom: 0px;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 5px 5px 0px #82FBCA;
  letter-spacing: 6px;
  background: #ffa4da;
  z-index: 2;
  width: 100%;
}

a {
  font-family: degular, helvetica, sans-serif;
  color: #FFFFFF;
  text-decoration: none;
  display: inline;
}

a:hover {
  color: rgb(255, 8, 0);
}

img {
  padding: 10px;
  z-index: -1;
}

.header {
  text-align: center;
  padding: 20px;
  font-size: 30px;
}
