* {
  box-sizing: border-box;
}

body {
  margin:20;
}

.box {
  background: rgb(199, 255, 185);
  max-width: 900px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.item {
  background: rgb(5, 95, 199);
  width: 32%;
  height: 200px;
}


@media screen and (max-width:800px) {
  .flex {
    flex-direction: column;
  }
  .item {
    width: 100%;
    margin-bottom: 20px;
  }
}
